.label {
  text-align: center;
}

.profile-view {
  margin-top: 100px;
  padding-inline-start: 30px;
}

.favorite-movie {
  width: 200px;
  background-color: black;
  margin: 20px;
  text-align: center;
}
.fav-poster {
  text-align: center;
  padding: 10px;
  background-color: black !important;
  width: 100% !important;
  height: 250px;
}

.movie_title {
  height: 60px;
  text-align: center;
  background-color: #c48f7f;
  color: white !important;
  padding: 10px;
}

.user-profile {
  width: 100%;
  margin: 20px;
}

h2 {
  text-align: center;
}

.card-title {
  padding-top: 5px;
}

.prfile-container {
  text-align: 10px !important;
}
