.moviesContainer {
  width: 100% !important;
}

.value {
  color: #560505 !important;
}

.movie-view {
  margin-top: 80px;
  margin-bottom: 80px;
}

.button {
  margin-left: 41%;
  width: 20%;
  color: #d2232a !important;
}

.button-back {
  margin-left: 48%;
  width: 8%;
}
